
/********************BASE*********************/


html{
    scroll-behavior: smooth;
}

body{
    background-color:#fffafb;
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align:center;
  }
  
h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}  

.container{
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-rows: 60px 400px 3fr 10px;
    row-gap:10px;
}


/********************BASE*********************/

/********************SKIP*********************/

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus{
    top:0px;
}

/********************SKIP*********************/

/********************nav bar*********************/

.logo {
    grid-column:1/2;
    background:#fffafb;

}

.logo-img{ 
    position:relative;
    margin-top:-25px;
    margin-left:-15px;
    width: 120px;
    height: auto;
}

.active {
    font-size:1.05em;
    color:black;
    font-weight:bold;
}
nav{
    grid-column:2/4;
    grid-row:1/2;
    text-align: right;
    align-self: center;
    padding-top:50px;
    background-color:#fffafb;
 }

.nav {
    padding-bottom:15px;
}
nav ul{
    list-style-type: none;
    overflow:hidden;
    padding:0;
}
  
nav li{
    display:block;
    float:right;
    padding-right:20px;
    padding-bottom:40px;
}

nav li:first-child{
    margin-right:20px;
}

nav li a{
    color: #78726a;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    width:100px;
    text-align:center;
}
  
nav li a:hover{
    text-decoration: underline; 
}


.menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
/* menu icon */
  
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding-right:10px;
    position: relative;
    height:15px;
  } 
  
  .menu li{
    top:20px;
}
  .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
  }
  
  .menu-icon .navicon:before, .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  
    .menu-icon .navicon:before {
    top: 5px;
  }
  
    .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
    .menu-btn {
    display: none;
  }
  
  .menu-btn:checked ~ .menu {
    max-height: 50px;
  }
  
 .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
/***nav menu inspired by Kim T, medium.com****/


/********************nav bar*********************/

/********************footer*********************/

footer{
    padding:10px;
    margin-bottom:20px;
    grid-column:1/-1;
    grid-row:4/span 1;
    color:#78726a;
    background-color:#fffafb;
    text-align:center;
    font-size:10px;
}

/********************footer*********************/

/********************index page*********************/
.landing {
    background-attachment: fixed; /* Parallax effect */
    background-image: url(../images/alice1.jpg);      /* Your code here - Link to header.jpg in the images folder */
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;
    color: black;
    height: 400px;                /* Parallax effect */
    /*Your code here - cover the entire row*/
    grid-column: 1/-1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

.landing h1{
    padding-top:100px;
}

.landing p{
    font-size: 20px;
}
.body1{
    background-color: white;
    grid-column:2/span 1;
    grid-row:3/4;
    
    padding:20px;
}

.body1 p{
    position:relative;
    text-align: center;
    letter-spacing:1px;
    line-height:1.5em;
    color: black;
    font-size: 15px;
}

/********************index page*********************/


.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

/********************hobbies page*********************/

.title {
    grid-column:2/2;
    grid-row:2/span 1;
}


.gallery{
    grid-column:1/-1;
    grid-row:3/span 1;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content:center;
  }
  

.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }
  
.column img {
    opacity:0.85;
    margin-top: 8px;
    vertical-align: middle;
    width:auto;
    max-height:300px;
    object-fit:contain;
}

.column img:hover{
    opacity:1;
}


/********************hobbies page*********************/


/********************projects page*********************/

.projects{
    grid-column:2/2;
    grid-row:3/span 1;
    padding: 0 4px;
}

.projects img{
    width:300px;
    height:300px;
}







/******************* projects page *********************/



/********************CONTACT*********************/

.contactform{
    justify-self:center;
    grid-column:2/3;
    text-align:center;
}

.contact_title{
    font-size: 25px;
    color:black;
}

input[type=text]{
    width: 300px;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea{
    width: 300px;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

label {
    font-size:15px;
}

/***FLIP CARD ***/

.flip-card {
    display:block;
    margin: 0 auto;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    background-color:#f0aab9;
    transform: rotateY(180deg);
}

.flip-card-front img{
    width:300px;
    height:300px;
}
  
/** social media icon **/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.9;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  
  .fa-instagram {
    background: #d4507c;
    color: white;
  }
/********************CONTACT*********************/



/********************MEDIA QUERIES*********************/

/******Desktops and laptops******/
@media screen and (min-width : 1200px) {
/********* NAV BAR *********/
nav li:first-child{
    margin-right:0px;
}


li {
    float: left;
}

li a {
    padding: 0px 20px;
}

.menu {
    clear: none;
    float: right;
    max-height: none;
}

.menu-icon {
    display: none;
}

  
}

/******* iPads (portrait and landscape) ******/
@media screen and (min-width : 768px) {
   /********* NAV BAR *********/
nav li:first-child{
    margin-right:0px;
}

li {
    float: left;
}

li a {
    padding: 0px 20px;
}

.menu {
    clear: none;
    float: right;
    max-height: none;
}

.menu-icon {
    display: none;
}

  
}
    
@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; 
    }
    .skip a{
        -webkit-transition:0s; 
        transition:0s;
    }
    .skip a:focus{
      top:0;
    }
}
  
